/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* #f9f9f9, #7fc8f8, #5aa9e6 */

html,
body {
  height: 100vh;
  background: linear-gradient(135deg, #5aa9e6, #7fc8f8);

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
  color: #f1f5f9;
}

/* Main */
.main {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}
