/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
  color: var(--white);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
}

.logo img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}
